# .env

# Variables para el contenedor de mariadb
MARIADB_USER=tu_usuario_de_mariadb
MARIADB_PASSWORD=tu_contraseña_de_mariadb
MARIADB_DATABASE=nombre_de_tu_base_de_datos_mariadb

# Variables para el contenedor de moodle
MOODLE_USERNAME=tu_usuario_de_moodle
MOODLE_PASSWORD=tu_contraseña_de_moodle
